# Linear Regression

# Housing Price Dataset

### Load Data

In [2]:
# import the needed libraries
import pandas as pd     # Data manipulation and analysis
import numpy as np      # Numerical operations and working with arrays
import matplotlib.pyplot as plt  # Data visualization with basic plots
import seaborn as sns   # Statistical data visualization, built on top of matplotlib
from sklearn.model_selection import train_test_split  # Splitting datasets into training and testing sets
from sklearn.preprocessing import StandardScaler, OneHotEncoder  # Scaling features and encoding categorical variables
from sklearn.linear_model import LinearRegression  # Implementing linear regression model
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score  # Evaluating regression model performance

In [3]:
# import the 'os' module to read the csv file 
import os
print(os.getcwd())

C:\Users\jahan

In [4]:
# Load the Housing data (csv file)
# Use a raw string: Prefix the file path with r to treat the backslashes as literal characters.
data = pd.read_csv(r'C:\Users\jahan\OneDrive\Documents\TeachingMachineLearning_CityColleges\data sets\Housing.csv')

### Initialize Exploration

In [5]:
# step 1:
# checking the data structure with data.info()
print("Data Information:")
print(data.info())

Data Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             545 non-null    int64
 1   area              545 non-null    int64
 2   bedrooms          545 non-null    int64
 3   bathrooms         545 non-null    int64
 4   stories           545 non-null    int64
 5   mainroad          545 non-null    object
 6   guestroom         545 non-null    object
 7   basement          545 non-null    object
 8   hotwaterheating   545 non-null    object
 9   airconditioning   545 non-null    object
 10  parking           545 non-null    int64
 11  prefarea          545 non-null    object
 12  furnishingstatus  545 non-null    object
dtypes: int64(6), object(7)
memory usage: 55.5+ KB
None

In [6]:
# step 2: Understanding Data Statistics with data.describe()
print("Data Description:")
print(data.describe())

Data Description:
              price          area    bedrooms   bathrooms     stories  \
count  5.450000e+02    545.000000  545.000000  545.000000  545.000000
mean   4.766729e+06   5150.541284    2.965138    1.286239    1.805505
std    1.870440e+06   2170.141023    0.738064    0.502470    0.867492
min    1.750000e+06   1650.000000    1.000000    1.000000    1.000000
25%    3.430000e+06   3600.000000    2.000000    1.000000    1.000000
50%    4.340000e+06   4600.000000    3.000000    1.000000    2.000000
75%    5.740000e+06   6360.000000    3.000000    2.000000    2.000000
max    1.330000e+07  16200.000000    6.000000    4.000000    4.000000

          parking
count  545.000000
mean     0.693578
std      0.861586
min      0.000000
25%      0.000000
50%      0.000000
75%      1.000000
max      3.000000

In [7]:
data.describe(include=["O"])

,mainroad,guestroom,basement,hotwaterheating,airconditioning,prefarea,furnishingstatus
count,545,545,545,545,545,545,545
unique,2,2,2,2,2,2,3
top,yes,no,no,no,no,no,semi-furnished
freq,468,448,354,520,373,417,227

### Handling Missing Values

In [7]:
# step 1. introduce the problem of missing values: the missing values can lead to biased results or errors in analysis if not addressed properly.
# Handling missing values are essential in data preprocessing.

In [8]:
# step 2: Detecting missing values by using .isnull.sum()
# .isnull().sum(): checks missing values in each column

print("Missing values in each column:")
print(data.isnull().sum())

Missing values in each column:
price               0
area                0
bedrooms            0
bathrooms           0
stories             0
mainroad            0
guestroom           0
basement            0
hotwaterheating     0
airconditioning     0
parking             0
prefarea            0
furnishingstatus    0
dtype: int64

In [9]:
# if there is any missing value: 
# step 3.
 #use .dropna() function to remove all rows with missing values.
   # 1. data = data.dropna()
   # 2. we use this method when the number of missing values is small.
# fillna(); Imputing missing values: 
         # 1. Filling Missing values;
         # 2. Filling with median or mode as .median() or mode()[0].

### Encoding categorical variables (if necessary)

In [10]:
# encoding categorical variables into a numerical format
# In this dataset, we have some categorical variables like: mainroad, guestroom, basement, hotwaterheating, airconditioning, prefarea, furnishingstatus

In [11]:
# step 1: why we are using One-Hot encoding:
#One-Hot Encoding: Best for binary and nominal categorical variables, which covers all the categorical variables in this dataset.
# Label/Ordinal Encoding: Not needed, as no ordinal variables are present in Housing dataset.

In [10]:
# step 2: Using One-Hot Encoding with pd.get_dummies()
# using that function creates new binary (0 or 1)columns for each category in a categorical variables.

data = pd.get_dummies(data, drop_first=True)
print(data)

        price  area  bedrooms  bathrooms  stories  parking  mainroad_yes  \
0    13300000  7420         4          2        3        2          True
1    12250000  8960         4          4        4        3          True
2    12250000  9960         3          2        2        2          True
3    12215000  7500         4          2        2        3          True
4    11410000  7420         4          1        2        2          True
..        ...   ...       ...        ...      ...      ...           ...
540   1820000  3000         2          1        1        2          True
541   1767150  2400         3          1        1        0         False
542   1750000  3620         2          1        1        0          True
543   1750000  2910         3          1        1        0         False
544   1750000  3850         3          1        2        0          True

     guestroom_yes  basement_yes  hotwaterheating_yes  airconditioning_yes  \
0            False         False                False                 True
1            False         False                False                 True
2            False          True                False                False
3            False          True                False                 True
4             True          True                False                 True
..             ...           ...                  ...                  ...
540          False          True                False                False
541          False         False                False                False
542          False         False                False                False
543          False         False                False                False
544          False         False                False                False

     prefarea_yes  furnishingstatus_semi-furnished  \
0            True                            False
1           False                            False
2            True                             True
3            True                            False
4           False                            False
..            ...                              ...
540         False                            False
541         False                             True
542         False                            False
543         False                            False
544         False                            False

     furnishingstatus_unfurnished
0                           False
1                           False
2                           False
3                           False
4                           False
..                            ...
540                          True
541                         False
542                          True
543                         False
544                          True

[545 rows x 14 columns]

In [13]:
# what is drop_first=True? using this code avoids multicollinearity.

### Seperating features and target

In [14]:
# step 1: Seperating features and target
  # features(X): the input data to make predictions. (independent variables)
    # target(y): the output data that you are trying to predict. (dependent variable)

In [11]:
# step 2: separate the features(x)
 # syntax: data.drop('target_column', axis =1): 
    # the drop() function is used to remove the target column from the dataset.
    # the argument axis = 1 specifies that we want to drop a column not raw. 
    
X = data.drop('price', axis =1)

In [12]:
 # step 3: seperating the target variable(y)
    #syntax: y = data['target_column']
    
 y = data['price']

In [13]:
print(X)

     area  bedrooms  bathrooms  stories  parking  mainroad_yes  guestroom_yes  \
0    7420         4          2        3        2          True          False
1    8960         4          4        4        3          True          False
2    9960         3          2        2        2          True          False
3    7500         4          2        2        3          True          False
4    7420         4          1        2        2          True           True
..    ...       ...        ...      ...      ...           ...            ...
540  3000         2          1        1        2          True          False
541  2400         3          1        1        0         False          False
542  3620         2          1        1        0          True          False
543  2910         3          1        1        0         False          False
544  3850         3          1        2        0          True          False

     basement_yes  hotwaterheating_yes  airconditioning_yes  prefarea_yes  \
0           False                False                 True          True
1           False                False                 True         False
2            True                False                False          True
3            True                False                 True          True
4            True                False                 True         False
..            ...                  ...                  ...           ...
540          True                False                False         False
541         False                False                False         False
542         False                False                False         False
543         False                False                False         False
544         False                False                False         False

     furnishingstatus_semi-furnished  furnishingstatus_unfurnished
0                              False                         False
1                              False                         False
2                               True                         False
3                              False                         False
4                              False                         False
..                               ...                           ...
540                            False                          True
541                             True                         False
542                            False                          True
543                            False                         False
544                            False                          True

[545 rows x 13 columns]

In [14]:
print(y) # this is the output that our machine learning model will try to predict based on features.

0      13300000
1      12250000
2      12250000
3      12215000
4      11410000
         ...
540     1820000
541     1767150
542     1750000
543     1750000
544     1750000
Name: price, Length: 545, dtype: int64

In [18]:
# step 4: understand why we do this

In [15]:
data.columns # name of columns

Index(['price', 'area', 'bedrooms', 'bathrooms', 'stories', 'parking',
       'mainroad_yes', 'guestroom_yes', 'basement_yes', 'hotwaterheating_yes',
       'airconditioning_yes', 'prefarea_yes',
       'furnishingstatus_semi-furnished', 'furnishingstatus_unfurnished'],
      dtype='object')

In [16]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 14 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   price                            545 non-null    int64
 1   area                             545 non-null    int64
 2   bedrooms                         545 non-null    int64
 3   bathrooms                        545 non-null    int64
 4   stories                          545 non-null    int64
 5   parking                          545 non-null    int64
 6   mainroad_yes                     545 non-null    bool
 7   guestroom_yes                    545 non-null    bool
 8   basement_yes                     545 non-null    bool
 9   hotwaterheating_yes              545 non-null    bool
 10  airconditioning_yes              545 non-null    bool
 11  prefarea_yes                     545 non-null    bool
 12  furnishingstatus_semi-furnished  545 non-null    bool
 13  furnishingstatus_unfurnished     545 non-null    bool
dtypes: bool(8), int64(6)
memory usage: 29.9 KB
None

In [17]:
data['furnishingstatus_semi-furnished'].sum() # number of furnishingstatu_semifurnished

227

In [18]:
data['furnishingstatus_semi-furnished'].value_counts()
# this displays how many times each furnishing status appears in the dataset

furnishingstatus_semi-furnished
False    318
True     227
Name: count, dtype: int64

#### step 5: Accessing a single column or multiple columns from the dataframe:

In [19]:
# syntax for single column: column_data = data['column_name']
bedrooms_column_data = data['bedrooms']
print('bedrooms_column_data')
print(bedrooms_column_data)

bedrooms_column_data
0      4
1      4
2      3
3      4
4      4
      ..
540    2
541    3
542    2
543    3
544    3
Name: bedrooms, Length: 545, dtype: int64

In [20]:
#syntax for multiple columns: 
selected_columns = data[['price', 'area', 'bedrooms']]
print('selected_columns:')
print(selected_columns)

selected_columns:
        price  area  bedrooms
0    13300000  7420         4
1    12250000  8960         4
2    12250000  9960         3
3    12215000  7500         4
4    11410000  7420         4
..        ...   ...       ...
540   1820000  3000         2
541   1767150  2400         3
542   1750000  3620         2
543   1750000  2910         3
544   1750000  3850         3

[545 rows x 3 columns]

#### step 6: Dropping specific columns

In [21]:
# dropping a single column
 # axis = 1: it means you are removing a column not a row

data_without_price = data.drop('price', axis =1)
print('data_without_price:')
print(data_without_price)

data_without_price:
     area  bedrooms  bathrooms  stories  parking  mainroad_yes  guestroom_yes  \
0    7420         4          2        3        2          True          False
1    8960         4          4        4        3          True          False
2    9960         3          2        2        2          True          False
3    7500         4          2        2        3          True          False
4    7420         4          1        2        2          True           True
..    ...       ...        ...      ...      ...           ...            ...
540  3000         2          1        1        2          True          False
541  2400         3          1        1        0         False          False
542  3620         2          1        1        0          True          False
543  2910         3          1        1        0         False          False
544  3850         3          1        2        0          True          False

     basement_yes  hotwaterheating_yes  airconditioning_yes  prefarea_yes  \
0           False                False                 True          True
1           False                False                 True         False
2            True                False                False          True
3            True                False                 True          True
4            True                False                 True         False
..            ...                  ...                  ...           ...
540          True                False                False         False
541         False                False                False         False
542         False                False                False         False
543         False                False                False         False
544         False                False                False         False

     furnishingstatus_semi-furnished  furnishingstatus_unfurnished
0                              False                         False
1                              False                         False
2                               True                         False
3                              False                         False
4                              False                         False
..                               ...                           ...
540                            False                          True
541                             True                         False
542                            False                          True
543                            False                         False
544                            False                          True

[545 rows x 13 columns]

In [22]:
# droping multiple columns:
data_without_columns = data.drop(['price', 'area'], axis = 1)

In [23]:
print('data_without_columns(price and area):')
print(data_without_columns)

data_without_columns(price and area):
     bedrooms  bathrooms  stories  parking  mainroad_yes  guestroom_yes  \
0           4          2        3        2          True          False
1           4          4        4        3          True          False
2           3          2        2        2          True          False
3           4          2        2        3          True          False
4           4          1        2        2          True           True
..        ...        ...      ...      ...           ...            ...
540         2          1        1        2          True          False
541         3          1        1        0         False          False
542         2          1        1        0          True          False
543         3          1        1        0         False          False
544         3          1        2        0          True          False

     basement_yes  hotwaterheating_yes  airconditioning_yes  prefarea_yes  \
0           False                False                 True          True
1           False                False                 True         False
2            True                False                False          True
3            True                False                 True          True
4            True                False                 True         False
..            ...                  ...                  ...           ...
540          True                False                False         False
541         False                False                False         False
542         False                False                False         False
543         False                False                False         False
544         False                False                False         False

     furnishingstatus_semi-furnished  furnishingstatus_unfurnished
0                              False                         False
1                              False                         False
2                               True                         False
3                              False                         False
4                              False                         False
..                               ...                           ...
540                            False                          True
541                             True                         False
542                            False                          True
543                            False                         False
544                            False                          True

[545 rows x 12 columns]

#### Renaming columns

In [24]:
# syntax: data = data.rename(columns = {'old_column_name': 'new_column_name'})
data = data.rename(columns = {'price': 'house_price'})

In [25]:
data

,house_price,area,bedrooms,bathrooms,stories,parking,mainroad_yes,guestroom_yes,basement_yes,hotwaterheating_yes,airconditioning_yes,prefarea_yes,furnishingstatus_semi-furnished,furnishingstatus_unfurnished
0,13300000,7420,4,2,3,2,True,False,False,False,True,True,False,False
1,12250000,8960,4,4,4,3,True,False,False,False,True,False,False,False
2,12250000,9960,3,2,2,2,True,False,True,False,False,True,True,False
3,12215000,7500,4,2,2,3,True,False,True,False,True,True,False,False
4,11410000,7420,4,1,2,2,True,True,True,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,2,True,False,True,False,False,False,False,True
541,1767150,2400,3,1,1,0,False,False,False,False,False,False,True,False
542,1750000,3620,2,1,1,0,True,False,False,False,False,False,False,True
543,1750000,2910,3,1,1,0,False,False,False,False,False,False,False,False
544,1750000,3850,3,1,2,0,True,False,False,False,False,False,False,True

In [26]:
data = data.rename(columns = {'price': 'house_price', 'bedrooms': 'number of bedrooms'})
data

,house_price,area,number of bedrooms,bathrooms,stories,parking,mainroad_yes,guestroom_yes,basement_yes,hotwaterheating_yes,airconditioning_yes,prefarea_yes,furnishingstatus_semi-furnished,furnishingstatus_unfurnished
0,13300000,7420,4,2,3,2,True,False,False,False,True,True,False,False
1,12250000,8960,4,4,4,3,True,False,False,False,True,False,False,False
2,12250000,9960,3,2,2,2,True,False,True,False,False,True,True,False
3,12215000,7500,4,2,2,3,True,False,True,False,True,True,False,False
4,11410000,7420,4,1,2,2,True,True,True,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,2,True,False,True,False,False,False,False,True
541,1767150,2400,3,1,1,0,False,False,False,False,False,False,True,False
542,1750000,3620,2,1,1,0,True,False,False,False,False,False,False,True
543,1750000,2910,3,1,1,0,False,False,False,False,False,False,False,False
544,1750000,3850,3,1,2,0,True,False,False,False,False,False,False,True

#### Selecting columns based on data type

In [27]:
# For example suppose that you want to select only the numerical columns or categorical columns
# use the function select_dtypes()

In [17]:
# 1. selecting numerical columns:
numerical_columns = data.select_dtypes(include = ['int64', 'float64'])
numerical_columns

        price  area  bedrooms  bathrooms  stories  parking
0    13300000  7420         4          2        3        2
1    12250000  8960         4          4        4        3
2    12250000  9960         3          2        2        2
3    12215000  7500         4          2        2        3
4    11410000  7420         4          1        2        2
..        ...   ...       ...        ...      ...      ...
540   1820000  3000         2          1        1        2
541   1767150  2400         3          1        1        0
542   1750000  3620         2          1        1        0
543   1750000  2910         3          1        1        0
544   1750000  3850         3          1        2        0

[545 rows x 6 columns]

In [18]:
# 2. selecting categorical columns:
categorical_columns = data.select_dtypes(include=['object']) 
categorical_columns
# Data types that are typically considered object in pandas including:
  # strings (text data)
  # mixed datatypes (columns containing a mix of numbers and strings)
  #Python objects (like lists, dictionaries, or other complex types)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[545 rows x 0 columns]

In [19]:
# check the data types of each column 
data.dtypes

price                              int64
area                               int64
bedrooms                           int64
bathrooms                          int64
stories                            int64
parking                            int64
mainroad_yes                        bool
guestroom_yes                       bool
basement_yes                        bool
hotwaterheating_yes                 bool
airconditioning_yes                 bool
prefarea_yes                        bool
furnishingstatus_semi-furnished     bool
furnishingstatus_unfurnished        bool
dtype: object

#### Reordering Columns

In [39]:
# new_order
new_order = ['area', 'bedrooms', 'price', 'bathrooms']
data_new_order = data[new_order]

In [40]:
print(data_new_order.columns) 
# check the columns after Encoding

Index(['area', 'bedrooms', 'price', 'bathrooms'], dtype='object')

In [41]:
data.columns

Index(['price', 'area', 'bedrooms', 'bathrooms', 'stories', 'parking',
       'mainroad_yes', 'guestroom_yes', 'basement_yes', 'hotwaterheating_yes',
       'airconditioning_yes', 'prefarea_yes',
       'furnishingstatus_semi-furnished', 'furnishingstatus_unfurnished'],
      dtype='object')

In [43]:
data_new_order

     area  bedrooms     price  bathrooms
0    7420         4  13300000          2
1    8960         4  12250000          4
2    9960         3  12250000          2
3    7500         4  12215000          2
4    7420         4  11410000          1
..    ...       ...       ...        ...
540  3000         2   1820000          1
541  2400         3   1767150          1
542  3620         2   1750000          1
543  2910         3   1750000          1
544  3850         3   1750000          1

[545 rows x 4 columns]

#### Filtering rows based on column values

In [79]:
# Filtering rows where a column meet a condition 
filtered_data = data[data['price'] > 500000]

In [80]:
print(filtered_data)

     area  bedrooms     price  bathrooms
0    7420         4  13300000          2
1    8960         4  12250000          4
2    9960         3  12250000          2
3    7500         4  12215000          2
4    7420         4  11410000          1
..    ...       ...       ...        ...
540  3000         2   1820000          1
541  2400         3   1767150          1
542  3620         2   1750000          1
543  2910         3   1750000          1
544  3850         3   1750000          1

[545 rows x 4 columns]

### Feature Scaling:

In [36]:
# By scaling our features, we ensure that our linear regression model works more efficiently and gives us more accurate predictions. 
# Without scaling, features with larger ranges, like 'area', would dominate the model, and we might end up with skewed results. 
# After scaling, each feature has an equal chance of influencing the modelâ€™s predictions.

# two common method to scale the features: Normalization vs. Standardization

#### Normalization

In [20]:
# Normalization rescales the values of the features so that they fall within a specific range, typically between 0 and 1.
from sklearn.preprocessing import MinMaxScaler

# Initialize the MinMaxScaler
scaler = MinMaxScaler()

# Fit the scaler to the data and transform it
X_normalized = scaler.fit_transform(X)
# I do not run normalization cell, because I have already considered Linear Regression, and in this machine learning, standardization is prefered.
X_normalized

array([[0.39656357, 0.6       , 0.33333333, ..., 1.        , 0.        ,
        0.        ],
       [0.5024055 , 0.6       , 1.        , ..., 0.        , 0.        ,
        0.        ],
       [0.57113402, 0.4       , 0.33333333, ..., 1.        , 1.        ,
        0.        ],
       ...,
       [0.13539519, 0.2       , 0.        , ..., 0.        , 0.        ,
        1.        ],
       [0.08659794, 0.4       , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.15120275, 0.4       , 0.        , ..., 0.        , 0.        ,
        1.        ]])

#### Standardization

In [38]:
# Standardization scales the data to have a mean of 0 and a standard deviation of 1. It transforms the data based on the z-score.

In [21]:
#Implementing Standardization in the code
# Initialize the scaler
scaler = StandardScaler()

# Fit the scaler to the data and transform it
X_scaled =scaler.fit_transform(X)

In [22]:
print(X_scaled)

[[ 1.04672629  1.40341936  1.42181174 ...  1.80494113 -0.84488844
  -0.6964292 ]
 [ 1.75700953  1.40341936  5.40580863 ... -0.55403469 -0.84488844
  -0.6964292 ]
 [ 2.21823241  0.04727831  1.42181174 ...  1.80494113  1.18358821
  -0.6964292 ]
 ...
 [-0.70592066 -1.30886273 -0.57018671 ... -0.55403469 -0.84488844
   1.43589615]
 [-1.03338891  0.04727831 -0.57018671 ... -0.55403469 -0.84488844
  -0.6964292 ]
 [-0.5998394   0.04727831 -0.57018671 ... -0.55403469 -0.84488844
   1.43589615]]

In [ ]:
# Positive values are above the mean, negative values are below the mean, and values close to 0 are near the mean.

In [ ]:
# Standardization doesn't limit values to between -1 and 1; it just scales them based on how they compare to the average.

## Split the data into training and testing sets

In [23]:
#Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=42)

In [17]:
# Parameters:
# X_scaled: The scaled features (input data) after standardization.
# y: The target variable (what you are trying to predict, like house prices).
# test_size=0.2: This means 20% of the data will be used for testing, and 80% will be used for training the model.
# random_state=42: This is a seed for randomization. Setting it ensures that the split is the same every time you run the code (for reproducibility).

In [ ]:
# Output Variables:
# X_train: The training portion of the input data (80% of X_scaled).
# X_test: The testing portion of the input data (20% of X_scaled).
# y_train: The training portion of the target data (80% of y).
# y_test: The testing portion of the target data (20% of y).

In [24]:
print('x_train:\n',X_train, '\nX_test:\n', X_test, '\ny_train:\n', y_train , '\ny_test:\n', y_test)

x_train:
 [[ 0.3917898   0.04727831  1.42181174 ... -0.55403469 -0.84488844
  -0.6964292 ]
 [ 0.94525725  0.04727831  1.42181174 ... -0.55403469  1.18358821
  -0.6964292 ]
 [-0.61552098 -1.30886273 -0.57018671 ... -0.55403469 -0.84488844
  -0.6964292 ]
 ...
 [-0.30004453  0.04727831  1.42181174 ... -0.55403469 -0.84488844
  -0.6964292 ]
 [-0.51220705 -1.30886273 -0.57018671 ... -0.55403469 -0.84488844
   1.43589615]
 [ 0.16117836  0.04727831  1.42181174 ... -0.55403469  1.18358821
  -0.6964292 ]]
X_test:
 [[ 0.34566751  1.40341936  1.42181174 ... -0.55403469 -0.84488844
   1.43589615]
 [ 0.62240124  0.04727831  1.42181174 ...  1.80494113 -0.84488844
  -0.6964292 ]
 [-0.51220705 -1.30886273 -0.57018671 ... -0.55403469  1.18358821
  -0.6964292 ]
 ...
 [ 0.3917898   1.40341936  1.42181174 ... -0.55403469  1.18358821
  -0.6964292 ]
 [ 0.3917898   0.04727831  1.42181174 ... -0.55403469  1.18358821
  -0.6964292 ]
 [ 0.43791208  0.04727831  1.42181174 ...  1.80494113 -0.84488844
  -0.6964292 ]]
y_train:
 46     7525000
93     6300000
335    3920000
412    3430000
471    3010000
        ...
71     6755000
106    6160000
270    4340000
435    3290000
102    6195000
Name: price, Length: 436, dtype: int64
y_test:
 316    4060000
77     6650000
360    3710000
90     6440000
493    2800000
        ...
15     9100000
357    3773000
39     7910000
54     7350000
155    5530000
Name: price, Length: 109, dtype: int64

## Train the model

In [25]:
# Linear Regression Model
model = LinearRegression() # the model learns the relationship between the input features and the target, allowing it to make predictions later.
# training the model
model.fit(X_train, y_train) # we are trianing the model on the training data(X_train, y_train)

LinearRegression()

In [102]:
#from sklearn.tree import DecisionTreeRegressor
#model = DecisionTreeRegressor(max_depth=5, min_samples_split=10)
#model.fit(X_train, y_train)

## Intercept vs. Coefficients in Linear Regresion

In [26]:
print('Intercept:', model.intercept_) 
#when all the features are 0, the base price is 4737518.175380117.

Intercept: 4737518.175380117

In [ ]:
# explanation: when all features (like area, bedrooms, etc) are zero, the base value of the house price is 4,766,729.25 units of currency (e.g., dollars, euros).

In [27]:
print('Coefficient:\n', model.coef_)

# positive coefficient
# negative coefficient

Coefficient:
 [ 511615.56377666   56615.57245779  549420.50124098  353158.42985604
  193542.78167455  128151.92129533   88590.21346152  186194.15050566
  143233.20624958  367817.89491558  267018.66081239  -62550.29721128
 -193987.7810882 ]

## Predict on the test data

Do not predict y_test, if you predict y_test, you will ger an error:

The following error says that the structure of y_test has to get reshaped because: 

        Expected 2D array, got 1D array instead:\narray={}.\n"
        
        "Reshape your data either using array.reshape(-1, 1) if "
        
        "your data has a single feature or array.reshape(1, -1) "
        
         "if it contains a single sample.".format(array)

Generally, y_test shouldn't be predicted. 

y_test is used to evaluate how accurate the predictions are by comparing them to the actual values.

You predict y_pred (the predicted values)
and then compare them with y_test to evaluate your model's accuracy.

In [122]:
#prediction on y_test data causes an error
y_pred = model.predict(y_test) #incorrect

ValueError: Expected 2D array, got 1D array instead:
array=[ 4060000  6650000  3710000  6440000  2800000  4900000  5250000  4543000
  2450000  3353000 10150000  2660000  3360000  3360000  2275000  2660000
  2660000  7350000  2940000  2870000  6720000  5425000  1890000  5250000
  4193000 12250000  3080000  5110000  9800000  2520000  6790000  3500000
  6650000  2940000  3325000  4200000  4900000  3290000  3500000  2380000
  5495000  3675000  6650000  4907000  3150000  4480000  6580000  5740000
  3003000  1820000  8400000  2450000  4270000  4007500  3234000  1750000
  9800000  2100000  4340000  3045000  3850000  3500000  4753000  3080000
  4550000  6510000  6685000  5110000  4550000  6650000  3640000  5600000
  3780000  6615000  3220000  6650000  4690000  4830000  6860000  2233000
  7035000  4165000  6195000  6510000  1890000  8190000  2660000  4193000
 13300000  9681000  4340000  8645000  3703000  5145000  6440000  5950000
  5810000  5740000  6230000  5600000  3010000  8890000  4900000  5530000
  9100000  3773000  7910000  7350000  5530000].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [27]:
# a very important explanation:
  # The model applies the learned relationship between features and the target (from training) to predict the house prices for these unseen test data points.

In [28]:
y_pred = model.predict(X_test) # For model evaluation and testing

In [29]:
y_pred # on X_test

array([5164653.90033967, 7224722.29802166, 3109863.24240338,
       4612075.3272256 , 3294646.25725956, 3532275.09556558,
       5611774.56836474, 6368145.98732718, 2722856.95689986,
       2629405.61585784, 9617039.50315578, 2798087.30447888,
       3171096.76847064, 3394639.09125529, 3681088.65424275,
       5263187.74621486, 3035963.47612386, 4786122.8004005 ,
       4349551.9200572 , 3572362.09930451, 5774875.2139565 ,
       5886993.57919883, 2730836.19518459, 4727316.47323636,
       5244847.52716799, 7555324.21605601, 3220790.84680269,
       5191898.79934207, 8143726.91009782, 3398814.09825036,
       6490693.05027925, 3315105.90747811, 6708457.36761325,
       4201738.21071676, 3557571.06735186, 5836974.50478626,
       4808660.67448475, 4362878.73613262, 3191242.95701509,
       4596554.93225239, 4566042.86048409, 3517779.52374149,
       7205844.79365835, 3983597.27861103, 3749338.70271055,
       4274731.09125895, 6757442.10783741, 4037320.43665851,
       3769334.90397125, 3417627.44377157, 7268416.6764461 ,
       2802534.35431385, 4341750.61420451, 4516422.15345642,
       3679997.65037847, 2678959.06481153, 7498029.17782458,
       2920366.45493168, 4239582.0596018 , 2766467.48467034,
       4841309.85933272, 3584359.56014923, 5142140.84897579,
       4221869.20996263, 4698408.50824081, 4662380.98564313,
       7177841.51216424, 3452198.9138376 , 5902436.91361411,
       6198094.31822812, 4773218.99689078, 5178933.32585698,
       4490410.96106558, 7968737.41567512, 3519394.94792196,
       5501905.04909554, 3947055.15571395, 4714056.36707951,
       4792291.26764381, 4250596.74659378, 7718149.1935735 ,
       4053241.11775758, 6453918.60757725, 5355571.58680279,
       2755188.2917527 , 6796008.09793359, 2607277.38176332,
       3679738.85761988, 7968276.12638737, 8078480.59500815,
       3266213.77309708, 5897888.5303104 , 3569461.07439185,
       3868964.98032522, 7584429.5312489 , 4740586.43771692,
       5139372.69032253, 6423485.10228601, 4914078.82258489,
       5982087.31289315, 3855027.32194281, 6420308.27282364,
       3749108.5131483 , 5998642.37204432, 4973331.10029252,
       4336650.86896384, 7059062.72274841, 6398940.86831986,
       6363889.85312644])

In [61]:
y_test.array.reshape(-1, 1) #the actual value for comparing with y_pred = model.predict(X_test)

<PandasArray>
[
[4060000],
[6650000],
[3710000],
[6440000],
[2800000],
[4900000],
[5250000],
[4543000],
[2450000],
[3353000],
[10150000],
[2660000],
[3360000],
[3360000],
[2275000],
[2660000],
[2660000],
[7350000],
[2940000],
[2870000],
[6720000],
[5425000],
[1890000],
[5250000],
[4193000],
[12250000],
[3080000],
[5110000],
[9800000],
[2520000],
[6790000],
[3500000],
[6650000],
[2940000],
[3325000],
[4200000],
[4900000],
[3290000],
[3500000],
[2380000],
[5495000],
[3675000],
[6650000],
[4907000],
[3150000],
[4480000],
[6580000],
[5740000],
[3003000],
[1820000],
[8400000],
[2450000],
[4270000],
[4007500],
[3234000],
[1750000],
[9800000],
[2100000],
[4340000],
[3045000],
[3850000],
[3500000],
[4753000],
[3080000],
[4550000],
[6510000],
[6685000],
[5110000],
[4550000],
[6650000],
[3640000],
[5600000],
[3780000],
[6615000],
[3220000],
[6650000],
[4690000],
[4830000],
[6860000],
[2233000],
[7035000],
[4165000],
[6195000],
[6510000],
[1890000],
[8190000],
[2660000],
[4193000],
[13300000],
[9681000],
[4340000],
[8645000],
[3703000],
[5145000],
[6440000],
[5950000],
[5810000],
[5740000],
[6230000],
[5600000],
[3010000],
[8890000],
[4900000],
[5530000],
[9100000],
[3773000],
[7910000],
[7350000],
[5530000]
]
Shape: (109, 1), dtype: int64

In [126]:
print(X_test.shape)
print(y_test.shape)

(109, 13)
(109,)

In [125]:
print(y_pred.shape)
print(X_test.shape)

(109,)
(109, 13)

# Model Evaluation

In [30]:
y_test

316    4060000
77     6650000
360    3710000
90     6440000
493    2800000
        ...
15     9100000
357    3773000
39     7910000
54     7350000
155    5530000
Name: price, Length: 109, dtype: int64

In [31]:
y_train

46     7525000
93     6300000
335    3920000
412    3430000
471    3010000
        ...
71     6755000
106    6160000
270    4340000
435    3290000
102    6195000
Name: price, Length: 436, dtype: int64

In [32]:
# Calculate MSE, MAE, R2, RMSE for training data
mse = mean_squared_error(y_test, y_pred)
print(f"MSE: {mse}")

MSE: 1754318687330.6682

In [33]:
mae = mean_absolute_error(y_test, y_pred)
print(f"MAE: {mae}")

MAE: 970043.4039201641

In [34]:
r2 = r2_score(y_test, y_pred)
print("R2:", r2)

R2: 0.6529242642153175

In [35]:
rmse = np.sqrt(mse)
print(f"RMSE: {rmse}")

RMSE: 1324506.9600914402

In [36]:
# Adjusted R-squared Calculation
n = X_test.shape[0]  # number of samples
p = X_test.shape[1]  # number of predictors (features)
adjusted_r2 = 1 - (1 - r2) * (n - 1) / (n - p - 1)

print(f"Adjusted R-squared: {adjusted_r2}")

Adjusted R-squared: 0.605429689844782

In [38]:
mse = mean_squared_error(y_test, y_pred)
print(f"MSE: {mse}")
mae = mean_absolute_error(y_test, y_pred)
print(f"MAE: {mae}")
r2 = r2_score(y_test, y_pred)
print("R2:", r2)
rmse = np.sqrt(mse)
print(f"RMSE: {rmse}")
n = X_test.shape[0]  # number of samples
p = X_test.shape[1]  # number of predictors (features)
adjusted_r2 = 1 - (1 - r2) * (n - 1) / (n - p - 1)
print(f"Adjusted R-squared: {adjusted_r2}")

MSE: 1754318687330.6682
MAE: 970043.4039201641
R2: 0.6529242642153175
RMSE: 1324506.9600914402
Adjusted R-squared: 0.605429689844782

In [39]:
print("Test Data Metrics:")
print(f"MSE: {mse}")
print(f"MAE: {mae}")
print(f"R2: {r2}")
print(f"RMSE: {rmse}")
print(f"Adjusted R-squared: {adjusted_r2}")

Test Data Metrics:
MSE: 1754318687330.6682
MAE: 970043.4039201641
R2: 0.6529242642153175
RMSE: 1324506.9600914402
Adjusted R-squared: 0.605429689844782

In [95]:
data_dropdup=data.drop_duplicates(inplace=True)
data_dropdup

To check for overfitting and underfitting in the housing dataset (or any other dataset), you need to evaluate the model's performance on both the training data and the testing data.

In [40]:
# Predictions on training data
y_pred_train = model.predict(X_train) # For checking training performance

In [41]:
y_pred_train

array([ 7109165.83869914,  6882951.80434331,  4815249.78634875,
        3990061.64537982,  3238924.34106256,  4213259.45560891,
        3262521.2215167 ,  2776422.43321996,  2329025.57980948,
        3653860.17702972,  4084008.35268491,  3686745.82238176,
        4686517.16289527,  3873464.37706931,  4190240.83409354,
        5869519.40313553,  2431733.15691031,  5789740.18200832,
        3330477.18628315,  7871347.11276757,  6464175.05153336,
        3348710.98229963,  5066745.68311879,  6829041.62324657,
        6441622.72524018,  3215327.46060842,  2359612.68424144,
        3177203.1918561 ,  5577561.12144359,  3119493.38199004,
        4101305.32597451,  2612119.22569568,  3901239.29674703,
        5228986.06476602,  4122403.48334852,  4005975.25747494,
        2429223.48158115,  6896328.29436496,  5159484.34408524,
        6662050.04903443,  6939841.61654542,  5455918.56569496,
        4382276.61245577,  3950285.29106802,  3778024.21928121,
        3318897.97407655,  7075245.51564245,  7975008.19676278,
        4037996.59102696,  7033627.71592741,  3658707.03856111,
        3874926.73483994,  6787030.2732729 ,  5214207.63610123,
        5046219.31790538,  5105926.9376115 ,  3686911.3528713 ,
        4407606.31788976,  6348649.95283145,  6100055.25901154,
        5950801.07306009,  3172828.41498638,  4681080.98266041,
        8755351.55644671,  5147910.38750576,  7179767.21472184,
        7923929.76332925,  3257282.59811643,  6697962.28438414,
        5266498.54107319,  4266445.8921067 ,  3469055.07261574,
        4478980.45232905,  6267635.98690522,  5729852.87275974,
        5169355.67991894,  3876531.66760065,  6576278.78354645,
        3202562.62513683,  3429071.73229416,  2927286.88048357,
        8453235.88384306,  5920946.04515373,  6349965.51285249,
        4201613.31703471,  5021265.9649623 ,  7350679.34953041,
        5078245.05911863,  3980760.38470972,  2823099.99776027,
        8194770.12522349,  4677055.5886329 ,  5139441.42211418,
        5607514.13247667,  5353495.30409121,  2639988.20543615,
        5492157.68888708,  3239104.7480339 ,  4697663.73484469,
        7146266.87200234,  5490743.31913099,  5853891.19641285,
        8009193.88650751,  8519182.93307282,  5943255.47090531,
        6873779.6844807 ,  4114440.70528548,  8118692.86723432,
        5082417.17534243,  3419351.63637829,  5686697.99376902,
        4311206.63230012,  4959564.00043272,  3501752.3627913 ,
        3991814.81483334,  6805816.20464496,  3218408.89249242,
        3882603.77462271,  5591648.33171603,  5872779.73016021,
        3249454.09710849,  3395676.67571093,  4840327.3701332 ,
        4608511.81853329,  5534926.97846767,  4089343.27804109,
        6860173.98660282,  3600592.10744957,  5307653.13666999,
        4586401.27247397,  5105763.74219052,  5031370.10726555,
        5048321.48553127,  3702122.85224447,  3047941.9110369 ,
        2813661.24557861,  3911060.74721158,  6085644.39824252,
        6514063.5342428 ,  4443296.48485318,  4762483.59893734,
        6832771.39714849,  6238653.84856612,  4535377.28609275,
        3004771.31645255,  4306952.42874213,  4912924.07216389,
        2668629.27094408,  3625108.48573325,  6791046.44920274,
        5677626.46639036,  5020743.33140429,  3778174.20656496,
        3351709.1775005 ,  6151081.285462  ,  3257432.58540018,
        4077849.16156427,  5000944.9350312 ,  4065334.40426686,
        5154431.47468448,  3060450.98597841,  3969260.25519786,
        4293981.2134963 ,  4035852.44505186,  7574508.72685354,
        6353833.72922544,  4151408.44192524,  5726149.82715334,
        7340775.87587479,  5978159.31303422,  4736280.75192265,
        4232535.11586735,  3663293.50244312,  2855044.62653178,
        5609155.61867022,  4177666.88707603,  3612376.97713079,
        6057527.9408226 ,  5241453.24571064,  4835773.75393084,
        4311206.63230012,  4859063.6330174 ,  4383585.64736943,
        5257919.69303032,  4756636.25529538,  4182085.25804393,
        5666201.52323852,  2552626.91422346,  5728912.68691925,
        5849151.4840256 ,  3936403.51770275,  4248675.77062496,
        6011548.75054536,  2765721.08002716,  2767330.42103764,
        4115761.89871201,  6125284.01979845,  4971091.51252083,
        3743833.83622441,  3693828.7309896 ,  3938994.58821215,
        5381066.47678142,  3553240.9475524 ,  2813661.24557861,
        3845148.12052434,  4866646.01374598,  7155551.88693269,
        5246762.01218378,  5665765.0250676 ,  2980791.03462006,
        4396074.13200317,  6832058.05557132,  3040191.29793835,
        4325462.06986623,  2209772.49335765,  2726352.7878983 ,
        3705051.57019023,  3142368.51860559,  4637272.90864422,
        4387983.32689642,  3142357.53817193,  2977370.76239796,
        2850488.94481285,  5107133.13679227,  4935313.97977092,
        4016627.02096366,  5840704.49716614,  4471855.42632354,
        3742181.75066492,  5626847.13800175,  3572525.35320641,
        4341482.90513954,  2719273.72376206,  3695167.98444261,
        6922075.54278062,  5076126.20895681,  6040606.91868726,
        5434561.88511328,  3818960.4522993 ,  4041640.73544916,
        6613940.75108822,  5604881.3781997 ,  3240317.63386345,
        6157107.7136267 ,  3077977.93083522,  3730315.05553509,
        3144536.819246  ,  6181186.67048008,  2887483.12394875,
        4441607.15605135,  3594451.74552474,  2825520.83293101,
        5296579.38566744,  2990637.84898466,  3132918.78599028,
        4685594.91665912,  2620166.82585467,  7185944.54033352,
        5778770.82627474,  7364053.98198961,  3873289.0756954 ,
        7007777.14065573,  4418039.57063441,  6013202.30975682,
        3558903.21302743,  5611244.26088155,  7003782.94058971,
        7569976.55651716,  7002580.39757889,  5015852.36094988,
        6514542.41737166,  2818816.2018272 ,  3304728.45308504,
        4619041.36794198,  6351308.6107771 ,  5677765.85184628,
        4401657.25670438,  2831447.74607764,  3006036.96840517,
        4412041.96015322,  5606602.55908965,  3135989.10875013,
        7599163.26037078,  3522758.45547453,  3385224.99987822,
        4938456.28759616,  3582320.0987956 ,  3912641.47543023,
        3607611.27717357,  3900488.9497121 ,  5022913.14118794,
        3368887.59053167,  6458325.39334524,  4161245.43097938,
        5249933.2565335 ,  6409972.10245885,  5467143.21396746,
        2908048.76739517,  4973466.81629085,  2926545.90260864,
        5511224.10611608,  6834674.11624758,  4092314.41480606,
        3743148.14590944,  5268220.90550353,  3979872.54616324,
        7235876.72719   ,  6736596.8545907 ,  4026613.00029572,
        4818231.12354391,  4889061.47722682,  2188535.30094893,
        4552393.02727201,  3276423.5892591 ,  4468147.97687795,
        4530088.39534025,  5691077.38048737,  4725002.01094523,
        4497821.40395803,  6621173.94505371,  3747457.03544421,
        2729423.11065815,  5019551.92221051,  6427623.86345363,
        6470678.86319429,  5720870.09251859,  2361883.53212843,
        7248674.74574675,  3013146.75780303,  3065029.16954052,
        7033571.57263996,  4010797.9173847 ,  6205696.59551226,
        5113264.50369624,  6124850.53334432,  3856749.31289974,
        5484306.15873067,  3138726.43929089,  4738153.94498716,
        3071030.49643063,  3784192.68652452,  3474373.89829451,
        3922077.47472324,  4644083.04401814,  4493008.11474497,
        4530388.8943239 ,  6250403.10651951,  2821512.09155462,
        3392304.06401446,  4069990.03380097,  2946692.09115309,
        3633464.48618346,  2723993.09985289,  3812320.587893  ,
        4280530.97718805,  3274319.66174376,  3020744.76367469,
        4652464.82479281,  6140618.20969505,  6492477.90018185,
        6257905.45073339,  5900161.2723188 ,  5878938.56480595,
        4602017.50878874,  5190712.51182542,  5022280.87028161,
        7006552.45053048,  3803039.77120023, 10522985.60053048,
        2152048.97640344,  3020894.33867306,  7126559.18009238,
        3927545.18814048,  5595999.75985258,  4961042.00469774,
        6173400.27506899,  2883214.82693015,  3209208.83741612,
        4293981.2134963 ,  4207327.68031179,  2822871.93026329,
        3530249.02630761,  5577656.12551902,  4689290.67243716,
        2728712.47594371,  7417554.57750917,  4136423.45132081,
        4110524.18547498,  3570254.50531942,  5899134.40178245,
        4269401.31333114,  6187955.91176568,  4432739.03577414,
        4120039.73034306,  6048373.70836117,  5610866.93955702,
        2432254.71858887,  5354935.17352799,  4007735.49593241,
        2219211.24553931,  2723433.83556236,  3412773.40572057,
        5464328.01749645,  3759658.0140222 ,  3245820.10580986,
        3271932.28066525,  2258234.93844707,  7687100.3515536 ,
        3314678.22862791,  4559980.38646866,  6592338.08739486,
        4603614.55548837,  2695676.84330792,  6147821.32708564,
        3419653.92531491,  5787531.99062508,  2728712.47594371,
        4928767.0204831 ,  2763310.6992276 ,  3119301.99458504,
        4210627.44130764,  3701076.20420285,  5505861.22657008,
        3413516.5956186 ,  4007699.44240879,  3262521.2215167 ,
        4484688.0594607 ,  3286501.50334919,  3002028.22702878,
        6390273.50882754,  5184774.6923674 ,  6547457.56482867,
        6502149.92351374,  6240959.18639774,  2823099.99776027,
        7095909.65601899])

In [42]:
mse_train = mean_squared_error(y_train, y_pred_train)
print(f"MSE_train: {mse_train}")
mae_train = mean_absolute_error(y_train, y_pred_train)
print(f"MAE_train: {mae_train}")
r2_train = r2_score(y_train, y_pred_train)
print("R2_train:", r2_train)
rmse_train = np.sqrt(mse_train)
print(f"RMSE_train: {rmse_train}")
n = X_train.shape[0]  # number of samples
p = X_train.shape[1]  # number of predictors (features)
adjusted_r2_train = 1 - (1 - r2_train) * (n - 1) / (n - p - 1)
print(f"Adjusted R-squared_train: {adjusted_r2_train}")

MSE_train: 968358188440.7242
MAE_train: 719242.8936724712
R2_train: 0.6859438988560158
RMSE_train: 984051.9236507412
Adjusted R-squared_train: 0.676269184839732

In [43]:
# Check for overfitting or underfitting
if mse_train < mse:
    print("The model may be overfitting (lower training error, higher test error).")
elif mse_train > mse:
    print("The model may be underfitting (higher training error, lower test error).")
else:
    print("The model generalizes well (similar performance on training and test data).")

The model may be overfitting (lower training error, higher test error).

#### Notice: the code above, correctly detects overfitting based on the difference between training and test MSE values (which is common).

Since the difference is not severe, so the model is not performing poorly.

result shows well generalization of linear regression model in the housing dataset.

In [ ]:
# Now I want to provide a program that calculates the difference between the training data metrics and test data metrics to assess overfitting more precisely.

In [44]:
print("Test Data Metrics:")
print(f"MSE: {mse}")
print(f"MSE_train: {mse_train}")
print(f"MAE: {mae}")
print(f"MAE_train: {mae_train}")
print(f"R2: {r2}")
print("R2_train:", r2_train)
print(f"RMSE: {rmse}")
print(f"RMSE_train: {rmse_train}")
print(f"Adjusted R-squared: {adjusted_r2}")
print(f"Adjusted R-squared_train: {adjusted_r2_train}")

Test Data Metrics:
MSE: 1754318687330.6682
MSE_train: 968358188440.7242
MAE: 970043.4039201641
MAE_train: 719242.8936724712
R2: 0.6529242642153175
R2_train: 0.6859438988560158
RMSE: 1324506.9600914402
RMSE_train: 984051.9236507412
Adjusted R-squared: 0.605429689844782
Adjusted R-squared_train: 0.676269184839732

In [47]:
# Assuming these are your metrics from the training and test datasets:
mse_train = 968358188440.7242
mse = 1754318687330.6682

mae_train = 719242.8936724712
mae = 970043.4039201641

rmse_train = 984051.9236507412
rmse = 1324506.9600914402

# Set threshold for acceptable difference (you can adjust this value)
mse_threshold = 0.2  # 20% difference
mae_threshold = 0.2  # 20% difference
rmse_threshold = 0.2  # 20% difference

# This part calculates the percentage difference between the test and training errors for each metric (MSE, MAE, RMSE).
mse_diff = (mse - mse_train) / mse_train
mae_diff = (mae - mae_train) / mae_train
rmse_diff = (rmse - rmse_train) / rmse_train

# Check if the difference exceeds the threshold
if mse_diff > mse_threshold:
    print(f"Overfitting detected based on MSE. MSE difference is {mse_diff*100:.2f}%")
else:
    print(f"MSE difference is within acceptable range. MSE difference is {mse_diff*100:.2f}%")

if mae_diff > mae_threshold:
    print(f"Overfitting detected based on MAE. MAE difference is {mae_diff*100:.2f}%")
else:
    print(f"MAE difference is within acceptable range. MAE difference is {mae_diff*100:.2f}%")

if rmse_diff > rmse_threshold:
    print(f"Overfitting detected based on RMSE. RMSE difference is {rmse_diff*100:.2f}%")
else:
    print(f"RMSE difference is within acceptable range. RMSE difference is {rmse_diff*100:.2f}%")

Overfitting detected based on MSE. MSE difference is 81.16%
Overfitting detected based on MAE. MAE difference is 34.87%
Overfitting detected based on RMSE. RMSE difference is 34.60%

In [ ]:
# interpretting: The result of the code shows that your model is indeed overfitting based on the MSE, MAE, and RMSE differences between the training and test sets.
# The high percentage differences (81% for MSE, 34% for MAE, and 34% for RMSE) indicate that overfitting is occurring.

In [ ]:
# to reduce overfitting and improve the model's generalization to unseen data, you can apply the following strategies:
# 1. Regularization (L1 or L2)
# 2. Cross-Validation
# 3. Reduce Model Complexity
# 4. Increase Training Data
# 5. Early Stopping (for Iterative Models)

## To address overfitting, first use feature selection method

#### 1. Use techniques like recursive feature elimination (RFE) to reduce the number of features.

Recursive feature elimination (RFE) technique helps us to select the most important features in the dataset, in this case house price dataset.

In other words, we are transforming our dataset using Recursive Feature Elimination (RFE) to reduce the number of features based on their importance.

In [49]:
from sklearn.feature_selection import RFE
selector = RFE(model, n_features_to_select=5)
selector.fit(X_train, y_train)

RFE(estimator=LinearRegression(), n_features_to_select=5)

#### 2. Access the Selected Features:

After running RFE, the selector object will contain information about which features were selected. You can use the support_ attribute to see which features were selected.

In [50]:
# Get the boolean mask indicating which features were selected
selected_features = selector.support_
print("Selected features:", selected_features)

# Alternatively, get the ranking of all features (1 = selected)
feature_ranking = selector.ranking_
print("Feature ranking:", feature_ranking)

Selected features: [ True False  True  True False False False False False  True  True False
 False]
Feature ranking: [1 9 1 1 3 6 7 2 5 1 1 8 4]

### Let's interpret this output:

High rank like 9 means less importance meaning it contributes the less to the model's predictive performance.

Rank 1 means it contributes the high to the model's predictive performance.

In selected features, True means the feature is selected, and False meanse the feature is not selected. 

As you see in the outout, all feature with rank 1 are selected to be eliminated because they have high contribution to the model's predictive performance.

#### 3. Transform the Training and Test Data:

You need to transform both your training and test data to include only the selected features. The selector.transform() method will reduce your datasets to include only the top 5 features selected by RFE.

In [51]:
# Transform X_train and X_test to include only the selected features
X_train_selected = selector.transform(X_train)
X_test_selected = selector.transform(X_test)

In [52]:
X_train_selected

array([[ 0.3917898 ,  1.42181174,  2.53202371,  1.4726183 , -0.55403469],
       [ 0.94525725,  1.42181174, -0.92939666,  1.4726183 , -0.55403469],
       [-0.61552098, -0.57018671, -0.92939666,  1.4726183 , -0.55403469],
       ...,
       [-0.30004453,  1.42181174,  1.37821692, -0.67906259, -0.55403469],
       [-0.51220705, -0.57018671, -0.92939666, -0.67906259, -0.55403469],
       [ 0.16117836,  1.42181174,  2.53202371,  1.4726183 , -0.55403469]])

In [53]:
X_test_selected

array([[ 0.34566751,  1.42181174,  0.22441013, -0.67906259, -0.55403469],
       [ 0.62240124,  1.42181174,  1.37821692,  1.4726183 ,  1.80494113],
       [-0.51220705, -0.57018671, -0.92939666, -0.67906259, -0.55403469],
       [-0.06943308, -0.57018671,  0.22441013,  1.4726183 , -0.55403469],
       [-0.54910488, -0.57018671, -0.92939666, -0.67906259, -0.55403469],
       [ 0.72387027, -0.57018671, -0.92939666, -0.67906259, -0.55403469],
       [ 1.55407146, -0.57018671, -0.92939666,  1.4726183 , -0.55403469],
       [-0.07404531,  1.42181174,  0.22441013, -0.67906259,  1.80494113],
       [-0.88118536, -0.57018671, -0.92939666, -0.67906259, -0.55403469],
       [-1.13024571, -0.57018671, -0.92939666, -0.67906259, -0.55403469],
       [ 1.58174483,  3.41381019,  2.53202371,  1.4726183 ,  1.80494113],
       [-0.56109668, -0.57018671, -0.92939666, -0.67906259, -0.55403469],
       [-0.65979837, -0.57018671, -0.92939666,  1.4726183 , -0.55403469],
       [-0.94575656, -0.57018671,  0.22441013, -0.67906259, -0.55403469],
       [-0.54449265, -0.57018671,  0.22441013, -0.67906259, -0.55403469],
       [-0.70130843,  3.41381019,  0.22441013, -0.67906259, -0.55403469],
       [-1.45310173, -0.57018671,  0.22441013, -0.67906259, -0.55403469],
       [ 0.3917898 , -0.57018671,  0.22441013,  1.4726183 , -0.55403469],
       [ 0.32260636, -0.57018671,  0.22441013, -0.67906259, -0.55403469],
       [ 0.3917898 , -0.57018671, -0.92939666, -0.67906259, -0.55403469],
       [-0.06020863, -0.57018671,  2.53202371,  1.4726183 ,  1.80494113],
       [ 0.77229867, -0.57018671, -0.92939666,  1.4726183 ,  1.80494113],
       [-0.6925452 , -0.57018671, -0.92939666, -0.67906259, -0.55403469],
       [-0.62290054, -0.57018671,  0.22441013, -0.67906259,  1.80494113],
       [ 1.42954128, -0.57018671, -0.92939666, -0.67906259, -0.55403469],
       [ 2.21823241,  1.42181174,  0.22441013, -0.67906259,  1.80494113],
       [-0.95036879, -0.57018671, -0.92939666, -0.67906259, -0.55403469],
       [-0.99187885,  1.42181174,  0.22441013, -0.67906259, -0.55403469],
       [ 3.71259454, -0.57018671,  0.22441013,  1.4726183 ,  1.80494113],
       [-0.99187885, -0.57018671,  0.22441013, -0.67906259, -0.55403469],
       [-0.53065597,  1.42181174,  0.22441013,  1.4726183 ,  1.80494113],
       [-0.9365321 , -0.57018671,  0.22441013, -0.67906259, -0.55403469],
       [ 0.3917898 ,  1.42181174,  1.37821692,  1.4726183 , -0.55403469],
       [ 0.67544187, -0.57018671,  0.22441013, -0.67906259, -0.55403469],
       [-0.17320823, -0.57018671,  0.22441013, -0.67906259, -0.55403469],
       [-0.25392224,  1.42181174,  0.22441013,  1.4726183 , -0.55403469],
       [-0.23270599, -0.57018671,  0.22441013, -0.67906259, -0.55403469],
       [-0.90885873, -0.57018671,  0.22441013,  1.4726183 , -0.55403469],
       [-0.77049186, -0.57018671, -0.92939666,  1.4726183 , -0.55403469],
       [-1.09011932,  1.42181174,  0.22441013, -0.67906259, -0.55403469],
       [ 1.3050111 , -0.57018671, -0.92939666, -0.67906259, -0.55403469],
       [-0.70130843, -0.57018671, -0.92939666,  1.4726183 , -0.55403469],
       [ 0.58550341,  1.42181174,  1.37821692,  1.4726183 ,  1.80494113],
       [-0.43841139, -0.57018671,  0.22441013, -0.67906259, -0.55403469],
       [ 0.73770696, -0.57018671, -0.92939666, -0.67906259, -0.55403469],
       [ 0.33874917, -0.57018671, -0.92939666,  1.4726183 , -0.55403469],
       [ 0.3917898 ,  1.42181174,  2.53202371,  1.4726183 , -0.55403469],
       [-0.23547332, -0.57018671,  0.22441013, -0.67906259, -0.55403469],
       [ 1.3372967 , -0.57018671, -0.92939666, -0.67906259, -0.55403469],
       [-0.99187885, -0.57018671, -0.92939666, -0.67906259, -0.55403469],
       [ 1.07209355,  1.42181174,  2.53202371,  1.4726183 , -0.55403469],
       [-0.99187885, -0.57018671, -0.92939666, -0.67906259, -0.55403469],
       [ 1.2081543 , -0.57018671, -0.92939666, -0.67906259, -0.55403469],
       [-0.30004453, -0.57018671,  0.22441013,  1.4726183 , -0.55403469],
       [-0.6966962 , -0.57018671,  0.22441013, -0.67906259, -0.55403469],
       [-1.03338891, -0.57018671, -0.92939666, -0.67906259, -0.55403469],
       [ 0.27648408,  1.42181174,  2.53202371,  1.4726183 ,  1.80494113],
       [-1.26861258, -0.57018671,  0.22441013, -0.67906259, -0.55403469],
       [ 0.59934009, -0.57018671,  0.22441013, -0.67906259, -0.55403469],
       [-0.62290054, -0.57018671, -0.92939666, -0.67906259, -0.55403469],
       [-0.90885873,  1.42181174, -0.92939666, -0.67906259, -0.55403469],
       [-1.39083664,  1.42181174,  0.22441013, -0.67906259, -0.55403469],
       [ 0.59472786, -0.57018671, -0.92939666,  1.4726183 , -0.55403469],
       [-0.087882  , -0.57018671, -0.92939666,  1.4726183 , -0.55403469],
       [ 0.09660715, -0.57018671,  0.22441013, -0.67906259,  1.80494113],
       [-0.64134946, -0.57018671,  0.22441013, -0.67906259, -0.55403469],
       [ 0.66852353,  1.42181174,  2.53202371, -0.67906259,  1.80494113],
       [-0.99187885, -0.57018671,  0.22441013, -0.67906259, -0.55403469],
       [ 1.49872471, -0.57018671,  2.53202371, -0.67906259, -0.55403469],
       [ 0.25342293, -0.57018671, -0.92939666,  1.4726183 ,  1.80494113],
       [-1.06106228,  1.42181174,  0.22441013, -0.67906259,  1.80494113],
       [ 0.55783003, -0.57018671,  1.37821692, -0.67906259,  1.80494113],
       [ 1.49872471, -0.57018671, -0.92939666, -0.67906259, -0.55403469],
       [ 2.46729276,  1.42181174, -0.92939666,  1.4726183 ,  1.80494113],
       [-1.13762528, -0.57018671, -0.92939666,  1.4726183 , -0.55403469],
       [-0.41073802,  1.42181174,  0.22441013, -0.67906259, -0.55403469],
       [-0.70130843, -0.57018671,  0.22441013, -0.67906259, -0.55403469],
       [-0.15475932, -0.57018671, -0.92939666,  1.4726183 ,  1.80494113],
       [ 0.3917898 , -0.57018671, -0.92939666,  1.4726183 , -0.55403469],
       [ 0.06893378, -0.57018671, -0.92939666,  1.4726183 ,  1.80494113],
       [ 0.55783003,  1.42181174,  1.37821692,  1.4726183 ,  1.80494113],
       [-0.49375814, -0.57018671,  0.22441013, -0.67906259, -0.55403469],
       [ 0.16117836,  1.42181174, -0.92939666, -0.67906259,  1.80494113],
       [ 0.70080913, -0.57018671,  1.37821692, -0.67906259,  1.80494113],
       [-1.59146859, -0.57018671,  0.22441013, -0.67906259, -0.55403469],
       [ 0.37334088,  3.41381019,  0.22441013, -0.67906259, -0.55403469],
       [-1.08412342, -0.57018671, -0.92939666, -0.67906259, -0.55403469],
       [-0.78432855, -0.57018671,  0.22441013, -0.67906259, -0.55403469],
       [ 1.04672629,  1.42181174,  1.37821692,  1.4726183 ,  1.80494113],
       [ 0.3917898 ,  3.41381019,  0.22441013, -0.67906259, -0.55403469],
       [-1.4969179 , -0.57018671,  0.22441013, -0.67906259, -0.55403469],
       [ 1.3372967 , -0.57018671, -0.92939666,  1.4726183 , -0.55403469],
       [ 0.13811721, -0.57018671, -0.92939666, -0.67906259, -0.55403469],
       [-0.80277747, -0.57018671,  0.22441013,  1.4726183 , -0.55403469],
       [ 1.58174483,  3.41381019,  0.22441013, -0.67906259, -0.55403469],
       [-0.66902283, -0.57018671,  0.22441013,  1.4726183 , -0.55403469],
       [ 0.31245946, -0.57018671,  2.53202371, -0.67906259, -0.55403469],
       [ 0.29954522,  1.42181174,  2.53202371,  1.4726183 , -0.55403469],
       [ 0.16117836, -0.57018671,  1.37821692, -0.67906259,  1.80494113],
       [ 0.66852353,  1.42181174, -0.92939666, -0.67906259,  1.80494113],
       [-0.88118536, -0.57018671,  0.22441013, -0.67906259, -0.55403469],
       [-0.25392224,  1.42181174,  0.22441013,  1.4726183 , -0.55403469],
       [-1.00571553, -0.57018671,  1.37821692, -0.67906259, -0.55403469],
       [-0.85351198,  3.41381019,  0.22441013, -0.67906259, -0.55403469],
       [ 0.3917898 , -0.57018671,  0.22441013, -0.67906259, -0.55403469],
       [ 0.82072708, -0.57018671,  0.22441013, -0.67906259, -0.55403469],
       [ 0.3917898 ,  1.42181174,  2.53202371,  1.4726183 , -0.55403469],
       [ 0.3917898 ,  1.42181174,  0.22441013,  1.4726183 , -0.55403469],
       [ 0.43791208,  1.42181174, -0.92939666, -0.67906259,  1.80494113]])

Now, X_train_selected and X_test_selected will contain only the top 5 features chosen by RFE.

#### 4. Train the Model on the Selected Features:

Use the transformed training data (X_train_selected) to re-train your model.

In [54]:
# Re-train the model using only the selected features
model.fit(X_train_selected, y_train)

LinearRegression()

#### 5. Predict Using the Test Set:

Use the transformed test set (X_test_selected) to make predictions and evaluate the modelâ€™s performance.

In [56]:
# Make predictions using the test data with selected features
y_test_pred = model.predict(X_test_selected)

#### 6. Evaluate the Model:

After making predictions on the test set, evaluate the model using metrics like MSE, MAE, RÂ², etc., to see how well the model performs with the reduced feature set.

In [57]:
from sklearn.metrics import mean_squared_error, r2_score

# Calculate and print evaluation metrics
mse_test = mean_squared_error(y_test, y_test_pred)
r2_test = r2_score(y_test, y_test_pred)

print(f"Test MSE: {mse_test}")
print(f"Test RÂ²: {r2_test}")

Test MSE: 2153301845033.9512
Test RÂ²: 0.5739891345689093

In [45]:
from sklearn.linear_model import Lasso
# Initialize Lasso with alpha (regularization strength)
lasso = Lasso(alpha=0.1)
# Fit the model
lasso.fit(X_train, y_train)
# Make predictions
y_pred = lasso.predict(X_test)

In [42]:
y_pred

array([5164653.95732913, 7224721.81130069, 3109863.61335579,
       4612075.54582379, 3294646.15787928, 3532275.36045977,
       5611774.30152193, 6368145.37467925, 2722857.25557328,
       2629405.62913828, 9617039.19490542, 2798087.6292849 ,
       3171097.14434603, 3394639.36500698, 3681088.77166169,
       5263187.84354423, 3035963.8089764 , 4786122.92558858,
       4349551.9834689 , 3572362.45318035, 5774875.14460856,
       5886993.49701932, 2730836.52247368, 4727316.32931929,
       5244847.59735763, 7555324.05211551, 3220790.96716643,
       5191898.36862588, 8143726.30209052, 3398813.98699938,
       6490692.96104275, 3315106.11023633, 6708456.91796928,
       4201738.46772225, 3557571.2576798 , 5836974.61721096,
       4808660.66159423, 4362878.77231771, 3191243.29934278,
       4596554.67954893, 4566043.08621509, 3517779.79871808,
       7205844.30763438, 3983597.08363864, 3749339.050052  ,
       4274731.30896111, 6757442.13394536, 4037320.6376049 ,
       3769335.19291648, 3417627.58589846, 7268416.56737781,
       2802534.64962971, 4341750.47964051, 4516422.36253252,
       3679997.73503384, 2678959.07626234, 7498028.89622362,
       2920366.70159059, 4239582.28240617, 2766467.81064384,
       4841309.97493044, 3584359.83876906, 5142141.03365707,
       4221869.35779025, 4698408.52490019, 4662380.74886018,
       7177840.94125403, 3452199.0397077 , 5902436.84772924,
       6198093.73520389, 4773219.02476475, 5178933.40025564,
       4490410.82101269, 7968736.85266192, 3519395.19351294,
       5501904.77554211, 3947055.36347103, 4714056.54984656,
       4792291.06038425, 4250596.94410957, 7718148.59717825,
       4053241.32159402, 6453918.00674273, 5355571.49586935,
       2755188.54451039, 6796007.92009086, 2607277.68081065,
       3679739.10457288, 7968275.52075683, 8078479.94721307,
       3266213.98598284, 5897888.09339449, 3569460.9976686 ,
       3868965.31445927, 7584429.04514885, 4740586.10037736,
       5139372.71056486, 6423485.08306656, 4914078.81977875,
       5982087.27371683, 3855027.53309778, 6420307.81599532,
       3749108.74603755, 5998642.39830889, 4973331.1362009 ,
       4336650.71625046, 7059062.67558999, 6398940.87231264,
       6363889.34329876])

In [46]:
train_mse = mean_squared_error(y_train, y_pred)
train_mae = mean_absolute_error(y_train, y_pred)
train_r2 = r2_score(y_train, y_pred)
train_rmse = np.sqrt(train_mse)

ValueError: Found input variables with inconsistent numbers of samples: [436, 109]

In [44]:
train_mse
train_mae
train_r2 
train_rmse

984051.9236507412